<div class="bg">

    <div class="FAQ">
        <h3>FAQ</h3>
        <hr>
        <p style="user-select: none" class="title">frequently asked questions</p>

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        how do i add a new question?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p class="answer">To add a new question go to app settings and press "Manage Questions" button.</p>
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header question" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Can I insert pictures in my FAQ? </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p class="answer">Yes! To add a picture follow these simple steps: </p>
                            <ol class="tutorial">
                                <li>Enter App Settings</li>
                                <li>Click the "Manage Questions" button
                                </li>
                                <li>Click on the question you would like to attach a picture to
                                </li>
                                <li>When editing your answer, click on the picture icon and then add an image from your
                                    library
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header question" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Can I insert a video in my FAQ?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p class="answer">Yes! Users can add video from YouTube or Vimeo with ease:
                                </p>
                                <ol class="tutorial">
                                    <li>Enter App Settings</li>
                                    <li>Click the "Manage Questions" button
                                    </li>
                                    <li>Click on the question you would like to attach a picture to
                                    </li>
                                    <li>When editing your answer, click on the video icon and then paste the YouTube or
                                        Vimeo video URL
                                    </li>
                                    <li>That's it! A thumbnail of your video will appear in answer text box
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header question" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                How do I edit or remove the "FAQ title"?                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p class="answer">The FAQ title can be adjusted in the settings tab of the App Settings. You can also remove the title by unchecking its checkbox in the settings tab.
                                </p>
                                <ol>
                                </ol>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

</div>